*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
gradle/wrapper/gradle-wrapper.jar
android-commandlinetools.zip
.kotlin/
memory/
BOOTSTRAP.md
HEARTBEAT.md
IDENTITY.md
SOUL.md
TOOLS.md
USER.md
