<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name="com.example.rise.debug.IdentityBackfillTriggerReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="com.example.rise.debug.RUN_IDENTITY_BACKFILL" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.example.rise.debug.AddBriarContactReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="com.example.rise.debug.ADD_BRIAR_CONTACT" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
